* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* ALL EMPLOYEES PAGE */

/* SINGLE EMPLOYEE PAGE */
#singleEmployee {
  display: none;
}

/* ADD EMPLOYEES PAGE */
#errorMessage {
  font-weight: bold;
  color: crimson;
}
